

:root {
  --primary-color: #233142;
  --second-color: #455d7a;
  --accent-color: #f95959;
  --light-color: #e3e3e3;
  --extra-light-color: #fff;
  --hover-light-color: #f7f7f7;
  --second-accent-color: #ff8a8a;
  --success-color: #50a88b;
  --blue-color: #5079a8;

}
